@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300');
nav, .btn-group{
    font-family: 'Lobster', cursive;
}
/*
* index_navbar csss
*/

.navbar{
	margin-bottom: 0px;
}

body{
	background-color: #CCFFFF;
}

.nav > .dropdown:hover > ul{
	display: block;
}
.jumbotron{
    text-align: center;
}